/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 Apr 2020, 12:23:07
    Author     : Mads
*/
{
    -fx-primary : #435a9a;
    -fx-secondary : #81DAF5; /* #FFFF8D */
    -fx-primarytext: #FFFFFF; 
}

.split-pane *.split-pane-divider {
    -fx-padding: 1 0 1 0;  
    
}

.root
{
    -fx-background-color: -fx-primary; 
}

.glyph-icon
{
    -fx-fill: -fx-primarytext; 
}

.pane-button
{
    -fx-text-fill: -fx-primarytext; 
    -fx-border-color: -fx-secondary; 
    -fx-border-radius: 20px; 
    -fx-background-radius: 20px; 
}

.pane-button:hover
{
    -fx-border-color: -fx-secondary; 
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary; 
}

.pane-buttonSelected
{
    -fx-background-color: -fx-secondary;
    -fx-border-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
    -fx-border-radius: 20px; 
    -fx-background-radius: 20px; 
}

.login-label
{
    -fx-text-fill: -fx-primarytext; 
}

.login-text-field
{
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 13pt;
    -fx-prompt-text-fill: -fx-primarytext;
    -jfx-focus-color: -fx-secondary;
}


.jfx-date-picker > .text-field  
{
    -fx-alignment: center;
}


.vbox {
    -fx-background-color: -fx-primary;
}